@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
}

body,input,button{
  font-family: "Aleo", serif;
}

body{
  margin: 0;
  background-color: hsl(242, 78%, 7%);
  width:100vw;
  background-size: cover;
  position: absolute;
  overflow-x: hidden;
}
